main {
    display: flex;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;
}

section.container_left {
    width: 40%;
    background-image: url('../../assets/images/books.jpg');
    background-size: contain;
}

section.container_right {
    width: 60%;

    display: flex;
}

.container_form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container_form img {
    width: 170px;
}