.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px 0;
    flex-wrap: wrap;
}

.btn_see_more {
    margin-top: 15px;

    color: rgb(9, 9, 55, .8);
    font-size: 25px;
    font-weight: 700;

    background-color: #fff;
    border: none;

    cursor: pointer;
}

.btn_see_more:hover {
    transform: scale(1.03);
    opacity: 0.8;
}