.container_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px 15px;

    width: 300px;
    height: 440px;

    background-color: #F4F4FF;
    border-radius: 4px;
    border: 1px solid rgb(9, 9, 55, 0.1);
}

.container_card h2 {
    font-size: 20px;
    text-align: center;
    color: #090937;
    max-height: 70px;

    overflow: hidden;
}

.container_card p {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: rgb(9, 9, 55, 0.6);
}

.buy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.price {
    color: #6251DD;
    font-size: 20px;
}

.img_book {
    align-self: center;

    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}